*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}
.container{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
.container-navbar{
    background-color: rgb(48, 91, 190);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}

.img-logo{
    width: 100px;

}
.logo{
    flex-grow: 2;
}
.info{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    
}
.accedi{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
       
}
a{
    color: white;
    text-decoration: none;
    margin: 0.5rem;    
}

.button-accedi{
    padding:3px;
    border-radius: 15px;   
}
.paragrafo-header{
    text-align: center;
    padding-top: 100px;
    width: 30%;
    margin: auto;
    color: white;
}
.titolo-header{
    margin-bottom: 1rem;
}
/* inizio css main  */
.main-container{
    display: flex;
    justify-content: center;
}
.presentazione-foto-sinistra{
    display: flex;
    justify-content: flex-end;
    
    padding: 30px;
    
}
.foto-presentazione{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    
}
.img-home{
  width: 500px
}
.intestazione{
    text-align:justify;
    padding:2rem;
}
.titolo-intestazione{
    margin-bottom: 2rem;
}