*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}
.container{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    /* height: 500px; */
    width: 100%;
}
.container-navbar{
    background-color: rgb(48, 91, 190);
    padding: 0.5rem  5rem;
    display: flex;
    justify-content: space-around;
    
}

.info{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    
}
.accedi{
    display: flex;
    /* flex-grow: 2; */
    justify-content: flex-end;
       
}
a{
    color: white;
    text-decoration: none;
    margin: 0.5rem;    
}

.button , .button-accedi{
    padding:1rem;
    border-radius: 10rem; 
    border-style: none;  
}
.button-nero{
    background-color: black;
    color: white;
    margin-left: 1rem;
}
.paragrafo-header{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
    margin: auto;
    color: white;
}
.paragrafo-header button{
    margin-top: 1rem;
}
.titolo-header{
    margin-bottom: 1rem;
}
/* inizio css main  */
.section-container{
    display: flex;
    justify-content: center;
    
}
.presentazione-foto-sinistra{
    display: flex;
    justify-content: flex-end;
    
    padding: 30px;
    
}
.presentazione-foto-destra{
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    padding: 30px;
    
}
.foto-presentazione{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    
}
.img-home{
  width: 500px
}
.intestazione{
    text-align:justify;
    padding:2rem;
}
.titolo-intestazione{
    margin-bottom: 2rem;
}
.pre-footer{
    width: 800px;
    text-align: center;
    margin: auto;
    padding: 2rem 1rem 2rem;    
}
.pre-footer h2{
    padding: 1rem;
}
.pre-footer img{
    width: 100%;
}
.contain-pre-footer{
    background-color: lightgray;
}
.pre-footer h3{
    padding-left: 2em;
    padding: 2rem;
    background-image: url("../img/stars.svg");
    background-position:top;
    background-size: contain;
}
.button-blue{
    background-color: rgb(29, 99, 198);
    color: white;
}
.bandiera{
    font-size: 2rem;
    vertical-align: middle;
}